@tailwind base;
@tailwind components;
@tailwind utilities;

.FIE_canvas-node {
	background-color: #48575e !important;
}

.SfxLabel-root {
	color: #ffffff !important;
}

.FIE_tab {
	background-color: #48575e !important;
}
